[Unit]
Description=Soil ADC hourly sampler

[Service]
Type=oneshot
ExecStart=/home/imre/ballonwheel/MESH/safranyHope/soil/bin/soil_sample.sh
WorkingDirectory=/home/imre/ballonwheel/MESH/safranyHope/soil

