[Unit]
Description=Soil ADC sampler

[Service]
Type=oneshot
WorkingDirectory=/home/imre/ballonwheel/MESH/safranyHope/soil
ExecStart=/home/imre/ballonwheel/MESH/safranyHope/soil/bin/soil_samplev2.sh
