
[Unit]
Description=Safrany gpio (oneshot)

[Service]
Type=oneshot
ExecStart=/home/imre/ballonwheel/MESH/safranyHope/gpio/bin/gpio-service.sh

WorkingDirectory=/home/imre/ballonwheel/MESH/safranyHope/gpio/bin



